body{
    font-family: "Poppins", sans-serif;
}

main {
    margin: 1rem;
    margin-top: 1.5rem;
    min-height: 400px;
}

.hello {
    background-color: rgb(188, 203, 232);
    padding: 1rem;
    border-radius: .5rem;
    margin-top: 1rem;
    font-family: "Poppins", sans-serif;
    font-weight: 700;
}

/* .search-city {} */

.search {
    background-color: rgb(252, 232, 143);
    min-height: 300px;
    margin: 1.2rem;
    border-radius: .5rem;
    padding: 1rem;
}

.city {
    background-color: rgb(204, 206, 210);
    min-height: 300px;
    margin: 1.2rem;
    border-radius: .5rem;
    padding: 1rem;
}

#city-icon {
    display: flex;
    flex-direction: row;
}

#icon {
    max-width: 50px;
    max-height: 50px;
}

.search-history {
    min-height: 300px;
    margin: 1.2rem;
    border-radius: .5rem;
    padding: 1rem;
    display: flex;
    flex-direction: column;
}

.five-day {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    min-height: 300px;
    margin: .5rem;
    border-radius: .5rem;
    padding: 1rem;
    justify-content: center;

}

.forecast-box {
    margin: .5rem;
}

/* Date and icon */
.forecast-icon {
    display: flex;
    flex-direction: row;
}

/* The actual icon png */
.fc-icon {
    max-width: 30px;
    max-height: 30px;
}

.day {
    margin-left: .1rem;
    min-width: 60px;
    display: flex;
    flex-direction: column;
}

.day-stats {
    background-color: rgb(204, 206, 210);
    border-radius: .5rem;
    margin: .7rem;
    padding: .2rem;
    font-size: 1rem;
    padding: .5rem;
}

.forecast-date {
    font-size: 1.3rem;
}

/* Search bar */
.input-group {
    margin-top: 1.2rem;
}

#today {
font-size: 1.5rem;
}

#stats li {
    margin: 1rem;
}

#search-history {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

#city-history {
    font-weight: 500;
    font-size: 1.2rem;
    background-color: rgb(188, 203, 232);
    text-align: center;
    border-radius: .2rem;
    padding: 0 3rem;
    margin: 1rem;
}

#city-history:hover {
    background-color:rgb(204, 206, 210);
    cursor: pointer;
}

#stored-city {
    font-weight: 500;
    font-size: 1.2rem;
    background-color: rgb(188, 203, 232);
    text-align: center;
    border-radius: .2rem;
    padding: 0 3rem;
    margin: 1rem;
}

#stored-city:hover {
    background-color:rgb(204, 206, 210);
    cursor: pointer;
}

#search-header {
    font-size: 1.5rem;
    text-align: center;
}

#clear-history {
    margin-top: 2rem;
    background-color: white; /* Green */
    border: none;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: .5rem;
}

#clear-history:hover {
    background-color: rgb(204, 206, 210) ;
}

/* media queries */
@media screen and (max-width: 860px) {
    .search-city {
        flex-direction: column;
        margin-right: 1rem;
    }
    .bottom-cont {
        flex-direction: column;
    }
}