body{
    font-family: "Poppins", sans-serif;
}

main {
    margin: 1rem;
    margin-top: 1.5rem;
    min-height: 400px;
}

.hello {
    background-color: rgb(188, 203, 232);
    padding: 1rem;
    border-radius: .5rem;
    margin-top: 1rem;
    font-family: "Poppins", sans-serif;
    font-weight: 700;
}

/* .search-city {} */

.search {
    background-color: rgb(252, 232, 143);
    min-height: 300px;
    margin: 1.2rem;
    border-radius: .5rem;
    padding: 1rem;
}

.city {
    background-color: rgb(204, 206, 210);
    min-height: 300px;
    margin: 1.2rem;
    border-radius: .5rem;
    padding: 1rem;
}

.search-history {
    min-height: 300px;
    margin: 1.2rem;
    border-radius: .5rem;
    padding: 1rem;
}

.five-day {
    min-height: 300px;
    margin: 1.2rem;
    border-radius: .5rem;
    padding: 1rem;
}

#five-blocks {
    margin: 1rem;
    
}

.day {
    margin-left: .25rem;
}

/* Search bar */
.input-group {
    margin-top: 1.2rem;
}

#today {
font-size: 1.5rem;
}